<configuration>
    <appender name="saidaPadrao" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="arquivo-log" class="ch.qos.logback.core.FileAppender">
        <file>logs/fragmentador-arquivos.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.algaworks.arquivos.fragmentador" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="saidaPadrao"/>
        <appender-ref ref="arquivo-log"/>
    </root>
</configuration>